/*========== GENERAL DESKTOP ==========*/

#portfolio {
    padding-top: 15vh;
    margin-bottom: 5vh;
}

.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
    margin: 0 auto;
    width: 85%;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 1.5rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item__image {
    border-radius: 1.1rem;
    overflow: hidden;
}

.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio__item__cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}



/*----------------- MEDIA QUERIES ------------------*/

/*========== BIG NOTEBOOKS ===========*/
@media screen and (max-width: 1300px) and (orientation: landscape) {
    

}


/*========== SMALL NOTEBOOKS ===========*/
@media screen and (max-width: 1050px) and (orientation: landscape) {

    .portfolio__item {
        border-radius: 1rem;
        padding: 1rem;
    }

    .portfolio__item__image {
        border-radius: 0.6rem;
    }

    .portfolio__item h3 {
        font-size: 1.4vw;
        margin: 1rem 0 0.8rem;
    }

    .portfolio__item__cta {
        margin-bottom: 1.5vh;
    }

}



/*========== BIG TABLETS ===========*/
@media screen and (max-width: 1400px) and (orientation: portrait) {

    .portfolio__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2vw;
        width: 85%;
    }

}

/*========== SMALL TABLETS ===========*/
@media screen and (max-width: 820px)and (orientation: portrait) {
    
    .portfolio__container {
        gap: 1.6vw;
    }

    .portfolio__item {
        border-radius: 0.5rem;
        padding: 0.8rem;
    }

    .portfolio__item__image {
        border-radius: 0.4rem;
    }

    .portfolio__item h3 {
        font-size: 2.2vw;
        margin: 1rem 0 0.8rem;
    }

    .portfolio__item__cta {
        margin-bottom: 1.5vh;
    }

    .portfolio__item__cta > a {
        font-size: 2.3vw;
    }

}

/*========== BIG SMARTPHONES ===========*/
@media screen and (max-width: 550px)and (orientation: portrait) {
    
    .portfolio__container {
        grid-template-columns: repeat(1, 1fr);
        gap: 3.5vw;
        width: 75%;
    }

    .portfolio__item h3 {
        font-size: 3.5vw;
        margin: 1rem 0 0.8rem;
    }

    .portfolio__item__cta > a {
        font-size: 3vw;
    }

}

/*========== SMARTPHONES ===========*/
@media screen and (max-width: 420px) and (orientation: portrait) {

    .portfolio__container {
        gap: 3vw;
        width: 85%;
    }

    .portfolio__item {
        border-radius: 0.5rem;
        padding: 0.8rem;
    }

    .portfolio__item__image {
        border-radius: 0.5rem;
    }

    .portfolio__item h3 {
        font-size: 4vw;
        margin: 1rem 0 0.8rem;
    }

    .portfolio__item__cta {
        margin-bottom: 1.5vh;
    }

    .portfolio__item__cta > a {
        font-size: 4vw;
    }

}