header {
    height: 100vh;
    width: 100%;
    padding-top: 0rem;
    overflow: hidden;
    position: relative;
}

.header__container {
    width: 100vw;
    text-align: center;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

/*-----------CTA------------*/
.cta {
    margin-top: 2.5rem;
    margin-bottom: 4rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.cta > a {
    font-size: 1.2rem;
}

/*-----------HEADER SOCIALS------------*/
.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials > a {
    font-size: 1.4rem;
}

/*
adding the line above the social icons
*/
.header__socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/*-----------HEADER TEXT----------*/
.header__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.animated_text {
    font-size: 3rem;
}

/*-----------ME------------*/
.me {
    color: white;
    margin: auto;
    padding: 8rem 8rem 12rem 8rem;
    width: 50%;
    height: auto;
    position: relative;
    overflow: hidden;
    animation: floating linear 4s infinite;
}

@keyframes floating {
    0% {
        top: 0%;
    }

    50% {
        top: 7%;
    }

    100% {
        top: 0%;
    }
}

/*-----------SCROLL DOWN------------*/
.scroll__down {
    position: absolute;
    right: -2.8rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 1.3rem;
}


/*-----------------MEDIA QUERIES (MEDIUM DEVICES) ------------*/
@media screen and (max-width: 1024px) {
    
    header {
        height: 68vh;
    }

    .me {
        width: 19rem;
        height: 26rem;
        padding: 2.1rem 0 0 0;
    }

    .cta {
        margin-top: 1.4rem;
        display: flex;
        gap: 1.2rem;
        justify-content: center;
    }

}

/*-----------------MEDIA QUERIES (420 x 950) ------------*/
@media screen and (max-width: 420px) and (max-height: 950px) {

    header {
        height: 100vh;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }

    .header__container {
        width: 100vw;
        height: 100%;
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .me {
        order: 1;
        height: auto;
        width: 27vh;        
        margin: 1.4rem auto 0;
        padding: 3.8rem 0 0 0;
    }

    .header__text {
        order: 2;
        width: 100%;
        margin-top: 12vh;
    }

    .animated_text {
        font-size: 1.7rem;
    }

    .cta > a {
        font-size: 1.2rem;
    }

}

/*-----------------MEDIA QUERIES (420 x 800) ------------*/
@media screen and (max-width: 420px) and (max-height: 800px) {

    .me {
        width: 25vh;
        margin: 1.4rem auto 0;
        padding: 3.8rem 0 0 0;
    }

    .header__text {
        margin-top: 4rem;
        margin-bottom: 0rem;
    }

    .cta > a {
        font-size: 1rem;
    }

}

/*-----------------MEDIA QUERIES (420 x 750) ------------*/
@media screen and (max-width: 420px) and (max-height: 750px) {
    
    .me {
        width: 25vh;
        margin: 1.2rem auto 0;
        padding: 3.8rem 0 0 0;
    }

    .header__text {
        margin-top: 5rem;
        margin-bottom: 0rem;
    }

    .cta > a {
        font-size: 1rem;
    }

}

/*-----------------MEDIA QUERIES (420 x 700 ...) ------------*/
@media screen and (max-width: 420px) and (max-height: 700px) {

    .me {
        width: 25vh;
        margin: 6vh auto 0;
        padding: 3.8vh 0 0 0;
    }

    .header__text {
        margin-top: 11vh;
        margin-bottom: 0rem;
    }

    
    .animated_text {
        font-size: 1.5rem;
    }

    .cta > a {
        font-size: 1.1rem;
    }

}

/*-----------------MEDIA QUERIES (325 x 700 ...) ------------*/
@media screen and (max-width: 325px) and (max-height: 700px) {

    .me {
        width: 25vh;
    }

    .header__text {
        margin-top: 8vh;
    }

    
    .animated_text {
        font-size: 1.2rem;
    }

    .cta > a {
        font-size: 0.9rem;
    }

}

/*-----------------MEDIA QUERIES (325 x 850 ...) ------------*/
@media screen and (max-width: 325px) and (max-height: 850px) {

    .me {
        width: 23vh;
        margin: 7vh auto 0;
        padding: 3.8vh 0 0 0;
    }

    .header__text {
        margin-top: 11vh;
    }

    
    .animated_text {
        font-size: 1.3rem;
    }

    .cta {
        flex-direction: column;
        align-items: center;
    }

    .cta > a {
        font-size: 1.1rem;
    }

}

/*-----------------MEDIA QUERIES (325 x 750 ...) ------------*/
@media screen and (max-width: 325px) and (max-height: 750px) {

    .me {
        margin-top: 10vh;
    }

    .header__text {
        margin-top: 10vh;
    }

    
    .animated_text {
        font-size: 1.3rem;
    }

    .cta {
        flex-direction: row;
    }

    .cta > a {
        font-size: 0.9rem;
    }

}

/*-----------------MEDIA QUERIES (325 x 680 ...) ------------*/
@media screen and (max-width: 325px) and (max-height: 680px) {

    .me {
        margin-top: 8vh;
    }

    .header__text {
        margin-top: 8vh;
    }

    
    .animated_text {
        font-size: 1.2rem;
    }

    .cta {
        flex-direction: row;
    }

    .cta > a {
        font-size: 0.8rem;
    }

}

