/*========== GENERAL DESKTOP ===========*/

#experience {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.experience__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}

.experience__container > div {
    background: var(--color-bg-variant);
    padding: 2.2vh 10vw 2.2vh 10vw;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    width: 100%;
}

.experience__container > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experience_subtitle {
    font-size: 2.7vh;
    margin: auto;
    text-align: center;
    margin-bottom: 3vh;
    color: var(--color-primary);
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
    margin-bottom: 2vh;
}

.experience__details {
    display: flex;
    gap: 0.9vw;
    justify-content: center;
    align-items: center
}

.skill_tag {
    width: 8vw;
    height: 100%;
    font-size: 2vh;
    display: flex;
    justify-content: start;
    align-items: center;
}
.experience__details__icon {
    font-size: 6vh;    
    color: var(--color-primary);
}



/*----------------- MEDIA QUERIES ------------------*/

/*========== BIG NOTEBOOKS ===========*/
@media screen and (max-width: 1300px) and (orientation: landscape) {
    

}


/*========== SMALL NOTEBOOKS ===========*/
@media screen and (max-width: 1050px) and (orientation: landscape) {


}



/*========== BIG TABLETS ===========*/
@media screen and (max-width: 1400px) and (orientation: portrait) {

    .experience_subtitle {
        font-size: 2.2vh;
    }

    .experience__content {
        row-gap: 5vw;
    }

    .experience__details {
        gap: 1.4vw;
    }

    .skill_tag {
        width: 8vw;
        font-size: 1.6vh;
    }

    .experience__details__icon {
        font-size: 3vh;    
    }

}

/*========== SMALL TABLETS ===========*/
@media screen and (max-width: 820px)and (orientation: portrait) {
    
    .experience__container > div {
        border-radius: 1rem;
    }

}

/*========== BIG SMARTPHONES ===========*/
@media screen and (max-width: 550px)and (orientation: portrait) {
    
    .experience_subtitle {
        font-size: 2.6vw;
    }

    .skill_tag {
        width: 8vw;
        font-size: 2.3vw;
    }

    .experience__details__icon {
        font-size: 2.6vh;    
    }

}

/*========== SMARTPHONES ===========*/
@media screen and (max-width: 420px) and (orientation: portrait) {

    .experience_subtitle {
        font-size: 3.5vw;
    }

    .experience__container > div {
        border-radius: 0.6rem;
    }

    .skill_tag {
        width: 8vw;
        font-size: 2.9vw;
    }

    .experience__details__icon {
        font-size: 2.5vh;    
    }

}