/*========== GENERAL DESKTOP ===========*/

#experience {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 5vh;
}

.experience__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}

.experience__container > div {
    background: var(--color-bg-variant);
    padding: 2.4rem 10rem 2.4rem 10rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    width: 100%;
}

.experience__container > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experience_subtitle {
    font-size: 1.2rem;
    margin: auto;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 1.5rem;
}

.experience__details {
    display: flex;
    gap: 1.7rem;
    justify-content: center;
    align-items: center
}

.skill_tag {
    width: 8rem;
    height: 100%;
    font-size: 1.2rem;
    display: flex;
    justify-content: start;
    align-items: center;
}
.experience__details__icon {
    font-size: 4rem;    
    color: var(--color-primary);
}



/*========== NOTEBOOKS ===========*/

/*----------------- NEST HUB MAX (1280 X 800) ------------*/
@media screen and (max-width: 1300px) and (max-height: 850px) and (orientation: landscape) {

    #experience {
        padding-bottom: 6vh;
    }
    
    .experience__container {
        width: 75%;
    }
    
    #experience > h2 {
        margin-bottom: 2rem;
    }

    .experience_subtitle {
        font-size: 1.18rem;
    }

    .experience__details__icon {
        font-size: 2.8rem;
    }
    
    .skill_tag {
        font-size: 1rem;

    }

}

/*----------------- NEST HUB (1024 X 600) ------------*/
@media screen and (max-width: 1050px) and (max-height: 650px) and (orientation: landscape) {
    
    #experience > h2 {
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
    }

    #experience > h5 {
        font-size: 1rem;
    }

    #experience {
        padding-bottom: 9vh;
    }
    
    .experience__container {
        width: 75%;
    }

    .experience__container > div {
        padding: 0.9rem 8rem 0.9rem 8rem;
    }

    .experience_subtitle {
        font-size: 1.0rem;
    }

    .experience__details__icon {
        font-size: 1.9rem;
    }
    
    .skill_tag {
        font-size: 0.85rem;
    }


}



/*========== TABLETS ===========*/

/*----------------- SURFACE PRO 7 (912 x 1368) ------------*/
@media screen and (max-width: 950px) and (max-height: 1400px) and (orientation: portrait) {

    #experience {
        padding-bottom: 9vh;
    }

    .experience__container > div {
        padding: 2.4rem 10rem 2.4rem 10rem;
    }

    .experience_subtitle {
        font-size: 1rem;
        margin-bottom: 3rem;
    }

    .experience__details__icon {
        font-size: 2.8rem;
    }

    .experience__content {
        row-gap: 3.5rem;
        column-gap: 3.5rem;
        margin-bottom: 1.5rem;
    }

    .experience__details {
        gap: 0.9rem;
    }
    
    .skill_tag {
        font-size: 1.2rem;
    }

}

/*----------------- IPAD AIR (820 x 1180) ------------*/
@media screen and (max-width: 830px) and (max-height: 1200px) and (orientation: portrait) {


    .experience__content {
        position: relative;
        right: 4vh;
    }

}

/*----------------- IPAD MINI (768 x 1024) ------------*/
@media screen and (max-width: 800px) and (max-height: 1050px) and (orientation: portrait) {

    .experience__content {
        right: 6vh;
    }

}

/*----------------- SURFACE DUO (540 x 720) ------------*/
@media screen and (max-width: 550px) and (max-height: 730px) and (orientation: portrait) {
    
    #experience > h2 {
        font-size: 1.3rem;
        margin-bottom: 4.5vh;
    }

    #experience > h5 {
        font-size: 0.7rem;
    }
    
    #experience {
        padding-bottom: 9vh;
    }

    .experience__container > div {
        padding: 1rem 2rem;
    }

    .experience_subtitle {
        margin-bottom: 2rem;
    }

    .experience__details__icon {
        font-size: 1.6rem;
    }

    .experience__content {
        padding-left: 1.8rem;
        row-gap: 1.8rem;
        column-gap: 0.3rem;
        margin-bottom: 1.5rem;
        position: relative;
        left: 1vh;
    }

    .experience__details {
        gap: 0.9rem;
    }
    
    .skill_tag {
        font-size: 0.8rem;
    }

}

/*========== SMARTPHONES ===========*/

/*----------------- IPHONE XR (414 x 896) ------------*/
/*----------------- SAMSUNG GALAXY S20 ULTRA (412 x 945) ------------*/
/*----------------- PIXEL 5 (393 x 851) ------------*/
/*----------------- IPHONE 12 PRO (390 x 844) ------------*/
/*----------------- SAMSUNG GALAXY A51/71 (412 x 914) ------------*/
@media screen and (max-width: 420px) and (max-height: 950px) and (orientation: portrait) {

    #experience > h2 {
        font-size: 1.3rem;
        margin-bottom: 4vh;
    }

    #experience > h5 {
        font-size: 0.7rem;
    }

    .experience__container {
        width: 88%;
    }

    .experience__container > div {
        padding: 1rem 2rem;
    }

    #experience {
        padding-bottom: 9vh;
    }

    .experience_subtitle {
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

    .experience__details__icon {
        font-size: 1.2rem;
    }

    .experience__content {
        padding-left: 1.5rem;
        row-gap: 2.2rem;
        column-gap: 1rem;
        margin-bottom: 1.5rem;
        position: relative;
        left: 0.8vh;
    }

    .experience__details {
        gap: 0.9rem;
    }
    
    .skill_tag {
        font-size: 0.8rem;
        width: 6rem;
    }
}

/*----------------- SAMSUNG GALAXY S8+ (360 x 740) ------------*/
@media screen and (max-width: 420px) and (max-height: 800px) and (orientation: portrait) {

    .experience_subtitle {
        margin-bottom: 2rem;
        margin-top: 1rem;
        font-size: 0.8rem;
    }

    .experience__details__icon {
        font-size: 1.1rem;
    }

    .experience__content {
        column-gap: 0.5rem;
        padding-left: 1.1rem;
    }

    .experience__details {
        gap: 0.7rem;
    }
    
    .skill_tag {
        font-size: 0.7rem;
    }

}

/*----------------- IPHONE SE (375 x 667 ...) ------------*/
@media screen and (max-width: 420px) and (max-height: 700px) and (orientation: portrait) {

   
    
}

/*----------------- GALAXY FOLD (280 x 653) ------------*/
@media screen and (max-width: 325px) and (max-height: 700px) and (orientation: portrait) {

 
}
