/*========== GENERAL DESKTOP ===========*/

nav {
    /* background: white; */
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 1vh 2vh;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3vh;
    display: flex;
    gap: 3vw;
    border-radius: 4vw;
    backdrop-filter: blur(15px);
}

nav a {
    /* background: red; */
    background: transparent;
    padding: 0.9vw;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.4vw;
}

nav a.active {
    background: var(--color-primary);
    color: var(--color-bg);
}




/*----------------- MEDIA QUERIES ------------------*/

/*========== BIG NOTEBOOKS ===========*/
@media screen and (max-width: 1300px) and (orientation: landscape) {
    
    nav {
        bottom: 4vh;
        gap: 4vw;
        border-radius: 5vw;
    }
    
    nav a {
        padding: 1vw;
    }

}


/*========== SMALL NOTEBOOKS ===========*/
@media screen and (max-width: 1050px) and (orientation: landscape) {

    nav {
        gap: 5vw;
        border-radius: 5vw;
    }
    
    nav a {
        padding: 1.2vw;
        font-size: 1.6vw;
    }

}



/*========== BIG TABLETS ===========*/
@media screen and (max-width: 1400px) and (orientation: portrait) {

    nav {
        gap: 7.6vw;
        border-radius: 5vw;
    }
    
    nav a {
        padding: 1.4vw;
        font-size: 3.5vw;
    }

}

/*========== SMALL TABLETS ===========*/
@media screen and (max-width: 820px)and (orientation: portrait) {
    
    nav {
        gap: 9vw;
        border-radius: 5vw;
    }
    
    nav a {
        padding: 1.4vw;
        font-size: 4.3vw;
    }

}

/*========== SMARTPHONES ===========*/
@media screen and (max-width: 420px) and (orientation: portrait) {

    nav {
        gap: 9vw;
        border-radius: 8vw;
    }
    
    nav a {
        padding: 1.6vw;
        font-size: 5vw;
    }

}
